In [1]:
#Is there an association between rates of opioid prescriptions and overdose deaths by county?

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
database_name = 'prescribers1'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
query1 = """

SELECT
    *
FROM
    overdose_deaths
    
"""

with engine.connect() as connection:
    result = connection.execute(text(query1))
    overdose_deaths = pd.DataFrame(result.fetchall(), columns=result.keys())
overdose_deaths.head

<bound method NDFrame.head of      overdose_deaths  year  fipscounty
0                135  2015       47157
1                150  2016       47157
2                159  2017       47157
3                123  2018       47157
4                122  2015       47093
..               ...   ...         ...
375                0  2018       47017
376                1  2015       47007
377                2  2016       47007
378                2  2017       47007
379                3  2018       47007

[380 rows x 3 columns]>

In [6]:
query2 = """

SELECT
    *
FROM
    prescription
    
"""

with engine.connect() as connection:
    result = connection.execute(text(query2))
    prescription = pd.DataFrame(result.fetchall(), columns=result.keys())
prescription.head

<bound method NDFrame.head of                npi         drug_name bene_count total_claim_count  \
0       1427075894    RALOXIFENE HCL       None                18
1       1003858150       GLIMEPIRIDE       None                12
2       1184627192    TAMSULOSIN HCL       None                14
3       1306111497           SPIRIVA       None                13
4       1285658237           SPIRIVA       None                13
...            ...               ...        ...               ...
656053  1336169804  PROMETHAZINE HCL       None                11
656054  1679676282    RANITIDINE HCL       53.0               178
656055  1265587992          DIAZEPAM       16.0                48
656056  1144211830          RAMIPRIL       None                38
656057  1205923331          ATENOLOL       11.0                36

       total_30_day_fill_count total_day_supply total_drug_cost  \
0                         28.0              840         1009.66
1                         16.0              480          270.86
2                         24.0              698          353.62
3                         13.0              390         4783.28
4                         13.0              390         4855.95
...                        ...              ...             ...
656053                    11.0               56           62.82
656054                   426.0            12760         2860.16
656055                    48.0             1425          253.49
656056                    90.0             2700           627.5
656057                   108.0             3240          396.79

       bene_count_ge65 bene_count_ge65_suppress_flag total_claim_count_ge65  \
0                 None                             *                   18.0
1                 None                             *                   None
2                 None                             #                   None
3                 None                             *                   None
4                 None                             #                   None
...                ...                           ...                    ...
656053            None                             *                   None
656054            None                             #                   None
656055            None                             *                   14.0
656056            None                             #                   None
656057            None                             #                   None

       ge65_suppress_flag total_30_day_fill_count_ge65 total_day_supply_ge65  \
0                    None                         28.0                 840.0
1                       *                         None                  None
2                       #                         None                  None
3                       *                         None                  None
4                       #                         None                  None
...                   ...                          ...                   ...
656053                  *                         None                  None
656054                  #                         None                  None
656055               None                         14.0                 420.0
656056                  #                         None                  None
656057                  #                         None                  None

       total_drug_cost_ge65
0                   1009.66
1                      None
2                      None
3                      None
4                      None
...                     ...
656053                 None
656054                 None
656055                55.49
656056                 None
656057                 None

[656058 rows x 14 columns]>

In [7]:
query3 = """

SELECT
    *
FROM
    prescriber
    
"""

with engine.connect() as connection:
    result = connection.execute(text(query3))
    prescriber = pd.DataFrame(result.fetchall(), columns=result.keys())
prescriber.head

<bound method NDFrame.head of               npi nppes_provider_last_org_name nppes_provider_first_name  \
0      1003000282                    BLAKEMORE                     ROSIE
1      1003012022                      CUDZILO                     COREY
2      1003013160                  GRABENSTEIN                   WILLIAM
3      1003013947                         OTTO                    ROBERT
4      1003017963                         TODD                    JOSHUA
...           ...                          ...                       ...
25045  1992985949                         BECK                    ROBERT
25046  1992993760                  CHAKRABORTY                  KANISHKA
25047  1992996292                        GILES                    WESLEY
25048  1992997886                       DRAPER                     DAVID
25049  1992999791                       THOMAS                    SHELIA

      nppes_provider_mi nppes_credentials nppes_provider_gender  \
0                     K               FNP                     F
1                  None              M.D.                     M
2                     P              M.D.                     M
3                     J              M.D.                     M
4                     W              M.D.                     M
...                 ...               ...                   ...
25045                 L               M.D                     M
25046              None               M.D                     M
25047                 H                MD                     M
25048                 G               DDS                     M
25049                 K           RN, APN                     F

      nppes_entity_code           nppes_provider_street1  \
0                     I       TENNESSEE PRISON FOR WOMEN
1                     I              2240 SUTHERLAND AVE
2                     I                 1822 MEMORIAL DR
3                     I  2400 PATTERSON STREET SUITE 100
4                     I                1819 W CLINCH AVE
...                 ...                              ...
25045                 I                2400 PATTERSON ST
25046                 I           1 PROFESSIONAL PARK DR
25047                 I             979 E 3RD ST STE 300
25048                 I               202 SHIPLEY STREET
25049                 I                  6266 POPLAR AVE

      nppes_provider_street2 nppes_provider_city nppes_provider_zip5  \
0         3881 STEWARTS LANE           NASHVILLE               37243
1                  SUITE 103           KNOXVILLE               37919
2                       None         CLARKSVILLE               37043
3                       None           NASHVILLE               37203
4                  SUITE 108           KNOXVILLE               37916
...                      ...                 ...                 ...
25045              SUITE 400           NASHVILLE               37203
25046               SUITE 21        JOHNSON CITY               37604
25047                   None         CHATTANOOGA               37403
25048                   None          COOKEVILLE               38501
25049                   None             MEMPHIS               38119

      nppes_provider_zip4 nppes_provider_state nppes_provider_country  \
0                    0001                   TN                     US
1                    2333                   TN                     US
2                    4605                   TN                     US
3                    2786                   TN                     US
4                    2435                   TN                     US
...                   ...                  ...                    ...
25045                1562                   TN                     US
25046                6587                   TN                     US
25047                2187                   TN                     US
25048                None                   TN                     US
25049                4713                   TN                     US

      specialty_description description_flag medicare_prvdr_enroll_status
0        Nurse Practitioner                S                            N
1         Pulmonary Disease                S                            E
2           Family Practice                S                            E
3        Orthopedic Surgery                S                            E
4                Cardiology                S                            E
...                     ...              ...                          ...
25045     Internal Medicine                S                            E
25046     Internal Medicine                S                            E
25047    Emergency Medicine                S                            E
25048               Dentist                T                            N
25049      Registered Nurse                T                            E

[25050 rows x 17 columns]>

In [10]:
query4 = """

SELECT
    *
FROM
    fips_county
    
"""

with engine.connect() as connection:
    result = connection.execute(text(query4))
    fips_county = pd.DataFrame(result.fetchall(), columns=result.keys())
fips_county.head

<bound method NDFrame.head of          county state fipscounty fipsstate
0       AUTAUGA    AL      01001        01
1       BALDWIN    AL      01003        01
2       BARBOUR    AL      01005        01
3          BIBB    AL      01007        01
4        BLOUNT    AL      01009        01
...         ...   ...        ...       ...
3267    VIEQUES    PR      72147        72
3268   VILLALBA    PR      72149        72
3269    YABUCOA    PR      72151        72
3270      YAUCO    PR      72153        72
3271  STATEWIDE    PR      72990        72

[3272 rows x 4 columns]>

In [11]:
query5 = """

SELECT
    *
FROM
    drug
    
"""

with engine.connect() as connection:
    result = connection.execute(text(query5))
    drug = pd.DataFrame(result.fetchall(), columns=result.keys())
drug.head

<bound method NDFrame.head of                            drug_name                    generic_name  \
0           1ST TIER UNIFINE PENTIPS            PEN NEEDLE, DIABETIC
1      1ST TIER UNIFINE PENTIPS PLUS            PEN NEEDLE, DIABETIC
2                           ABACAVIR                ABACAVIR SULFATE
3                ABACAVIR-LAMIVUDINE     ABACAVIR SULFATE/LAMIVUDINE
4     ABACAVIR-LAMIVUDINE-ZIDOVUDINE  ABACAVIR/LAMIVUDINE/ZIDOVUDINE
...                              ...                             ...
3420                         ZYPREXA                      OLANZAPINE
3421                ZYPREXA RELPREVV              OLANZAPINE PAMOATE
3422                   ZYPREXA ZYDIS                      OLANZAPINE
3423                          ZYTIGA             ABIRATERONE ACETATE
3424                           ZYVOX                       LINEZOLID

     opioid_drug_flag long_acting_opioid_drug_flag antibiotic_drug_flag  \
0                   N                            N                    N
1                   N                            N                    N
2                   N                            N                    N
3                   N                            N                    N
4                   N                            N                    N
...               ...                          ...                  ...
3420                N                            N                    N
3421                N                            N                    N
3422                N                            N                    N
3423                N                            N                    N
3424                N                            N                    Y

     antipsychotic_drug_flag
0                          N
1                          N
2                          N
3                          N
4                          N
...                      ...
3420                       Y
3421                       Y
3422                       Y
3423                       N
3424                       N

[3425 rows x 6 columns]>

In [ ]:
#Filter to opiods

In [12]:
opioid_drugs = drug[drug['opioid_drug_flag'] == 'Y']['drug_name']
opioid_prescriptions = prescription[prescription['drug_name'].isin(opioid_drugs)]

In [ ]:
#Merge with prescriber to get county info

In [13]:
prescription_county = opioid_prescriptions.merge(
    prescriber[['npi', 'nppes_provider_zip5', 'nppes_provider_state']],
    on='npi',
    how='left'
)

In [ ]:
#Claims by county

In [14]:
prescription_by_county = prescription_county.groupby('nppes_provider_zip5', as_index=False)['total_claim_count'].sum()
prescription_by_county.rename(columns={'total_claim_count': 'total_opioid_claims'}, inplace=True)

In [ ]:
#Merge prescription totals with overdose deaths

In [16]:
prescription_by_county['nppes_provider_zip5'] = pd.to_numeric(
    prescription_by_county['nppes_provider_zip5'], errors='coerce'
)


opioid_overdose_county = overdose_deaths.merge(
    prescription_by_county,
    left_on='fipscounty',
    right_on='nppes_provider_zip5',
    how='left'
)

In [ ]:
#Merge county names

In [17]:
opioid_overdose_county['fipscounty'] = opioid_overdose_county['fipscounty'].astype(str)
fips_county['fipscounty'] = fips_county['fipscounty'].astype(str)


opioid_overdose_county = opioid_overdose_county.merge(
    fips_county[['fipscounty', 'county', 'state']],
    on='fipscounty',
    how='left'
)

In [ ]:
#Filter to TN

In [18]:
opioid_overdose_tn = opioid_overdose_county[opioid_overdose_county['state'] == 'TN']

In [ ]:
#Group by county

In [21]:
opioid_drugs = drug[drug['opioid_drug_flag'] == 'Y']['drug_name'].tolist()

In [22]:
opioid_prescriptions = prescription[prescription['drug_name'].isin(opioid_drugs)]

In [23]:
total_prescriptions_by_npi = opioid_prescriptions.groupby('npi')['total_claim_count'].sum().reset_index()


prescription_by_county = total_prescriptions_by_npi.merge(
    prescriber[['npi', 'nppes_provider_zip5']],  
    on='npi',
    how='left'
)


prescription_by_county = prescription_by_county.groupby('nppes_provider_zip5')['total_claim_count'].sum().reset_index()

In [24]:
overdose_deaths['fipscounty'] = overdose_deaths['fipscounty'].astype(str)
prescription_by_county['nppes_provider_zip5'] = prescription_by_county['nppes_provider_zip5'].astype(str)


opioid_overdose_county = overdose_deaths.merge(
    prescription_by_county,
    left_on='fipscounty',
    right_on='nppes_provider_zip5',
    how='left'
)

In [25]:
opioid_overdose_county = opioid_overdose_county.merge(
    fips_county[['fipscounty', 'county', 'state']],
    on='fipscounty',
    how='left'
)

In [26]:
opioid_overdose_tn = opioid_overdose_county[opioid_overdose_county['state'] == 'TN']

In [27]:
opioid_by_county = opioid_overdose_tn.groupby(['fipscounty', 'county']).agg({
    'overdose_deaths': 'sum',
    'total_claim_count': 'sum'
}).reset_index()

In [30]:
opioid_by_county['total_claim_count'] = pd.to_numeric(opioid_by_county['total_claim_count'], errors='coerce')
opioid_by_county['overdose_deaths'] = pd.to_numeric(opioid_by_county['overdose_deaths'], errors='coerce')
opioid_by_county_clean = opioid_by_county.dropna(subset=['total_claim_count', 'overdose_deaths'])

In [31]:
correlation = opioid_by_county_clean['total_claim_count'].corr(opioid_by_county_clean['overdose_deaths'])
correlation

nan